[Unit]
Description=awardit
After=network.target

[Service]
User=root
WorkingDirectory={{ awardit_dest_path }}/api
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
StandardOutput=file:/var/log/awardit.std
StandardError=file:/var/log/awardit.err

[Install]
WantedBy=multi-user.target
